<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market analyzer</title>
</head>
<body>
    <h1>Market analyzer</h1>
    {{range $Group := .}}
        <h3>{{.Name}}</h3>
        {{range $Link := .Links}}
            <a href="{{.Url}}">{{.Label}}</a>
            <br>
        {{end}}
    {{end}}
</body>
</html>